@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), "Poppins", "San Francisco", "Helvetica", sans-serif;
  --font-serif: var(--font-playfair), "Playfair Display", "Times New Roman", serif;
}

@layer base {
  html,
  body {
    @apply bg-[#000000] text-zinc-300 font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight text-white;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
